<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Consumo de Combustible</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Predicción de Consumo de Combustible</h1>
    <p>Ingrese un valor para predecir el consumo de combustible:</p>
    <form method="post">
        <input type="text" name="input_value" required>
        <button type="submit">Predecir</button>
    </form>

    {% if prediction is not none %}
        <h2>Resultado de la Predicción:</h2>
        <p>{{ prediction }}</p>
    {% endif %}

    <h2>Gráfica del Modelo:</h2>
    <img src="data:image/png;base64,{{ plot_url }}" alt="Gráfica de Regresión">

</body>
</html>
